label.secondary{
	background-color: $secondary-color;
	color: white;
	padding-left: 1em;
}
button.button.third{
	margin-top: 1em;
}
div.alreadyLogin{
	margin-bottom: 2em;
}
div.row.userForms{
	width: 40em;
}