.body-landing-a {
  background: url("../images/jpg/background_landing_a.jpg") no-repeat center fixed;
  margin-left:3em;
}

.body-landing-b {
  background: url("../images/jpg/background_landing_b.jpg") no-repeat center fixed;
  margin-left:3em;
}

.body-landing-a .header, .body-landing-b .header {
  display: none;
}

.body-landing-a .footer, .body-landing-b .footer {
  display: none;
}

@media screen and (max-width: 640px) {
  .body-landing-a {
    margin-left: auto;
    margin-right: auto;
  }
  #form-landing {
    margin-left: 1em;
    margin-right: 1em;
  }
  .body-landing-b {
    margin-left: auto;
    margin-right:auto;
  }
  .slogan {
    margin-top: 2.5em;
  }
  .slogan h1 {
    font-size: 1em !important;
  }
  .slogan h1:nth-child(2){
    padding-left:20px !important;
  }

  .slogan h1:nth-child(3){
    padding-left:40px !important;
  }
  #accedez-rapports-small + button {
    margin-top:250px !important;
  }
  .body-landing-a .content-landing {
    background: url("../images/jpg/background_landing_a.jpg") no-repeat center fixed;
    background-size: cover;
  }
  .body-landing-a {
    background: none;
  }

  .body-landing-b .content-landing {
    background: url("../images/jpg/background_landing_b.jpg") no-repeat center fixed;
    background-size: cover;
  }
  .body-landing-b {
    background: none;
  }

  .panel-program .panel {
    background: none !important;

  }
  .panel-program .panel p {
    color: white !important;
  }
}

@media screen and (min-width: 641px){
  .slogan h1 {
    font-size: 2.9em !important;
    color: white !important;
  }
  .slogan h1:nth-child(2){
    padding-left:40px !important;
  }

  .slogan h1:nth-child(3){
    padding-left:80px !important;
  }
  .footer-landing img {
    float: left;
  }
  .footer-landing h3 {
    position: fixed;
    bottom:0 !important;
    right:0;
    color: white !important;
    font-size:1em;
    text-align: right;
  }

  .body-landing-b .panel-program .panel p {
    color: white;
    font-size:2em;
  }

  .body-landing-b .panel-program .panel {
    background: none;
  }
}

.logo-slogan {
  margin-top:10px;
}

.slogan h1 {
  color: $third-color;
}

.panel-program {
  margin-top:20px;
}

.panel-program .panel {
  background: rgba(255, 255, 255, 0.5);
  border:0;
  border-radius : 6px;
}

.panel-program div>p {
  color: #0dcc5a;
  font-size:1.5rem;
  font-style: italic;
  line-height: 1.2;
}

.program {
  color: white;
  font-style : italic;
  font-size:1.5rem;
  margin-top:20px;
  margin-bottom:60px;
}
#form-landing label {
  background: #0dcc5a;
  color: white;
  padding-left:10px;
}

#form-landing span, #form-landing a {
  color: white;
}

.inscription-reseaux button:nth-child(1) {
  background: #DB4437;
}

.inscription-reseaux button:nth-child(2) {
  background: #3B5998;
}

.inscription-reseaux .fa {
  margin-right:10px !important;
}

#accedez-rapports {
  text-align: center;
  position: fixed;
  right:0em;
  bottom:12em;
  width:12em;
  height:12em;
  border-radius : 20em;
  padding:1em;
  background: #FF8E10;
  color: white;
}
#accedez-rapports p {
  margin-top:0.8em;
  font-size:1.2em;
}

#accedez-rapports-small {
  border-radius : 20em;
  background: #FF8E10;
  color: white;
  width:12em;
  height:12em;
  padding:1em;
  position: absolute;
  right:0;
}

#accedez-rapports-small p {
  margin-top:0.8em;
  font-size:1.2em;
}

#accedez-rapports-small, #accedez-rapports{
 transform: rotate(15deg);
}

#deja-compte label{
  background: none !important;
}

#header-landing {
  height:14rem;
  padding-top:40px;
}

.footer-landing h3{
  color: $third-color;
}

