.results {
  line-height: 50px;
  font-size:20px;
  border: 2px solid #F8F8F8 ;
  background: white;
  cursor: pointer !important;
  padding-left:20px;
  width: 100% !important;
}

.ui-autocomplete {
  height:200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  z-index: 1000;
  overflow-x: hidden;
  width:100%;
}

#entete-table-search {
  background: $secondary-color;
}
#entete-table-search th {
  text-align: center;
  color: white;
  font-weight: normal;
  border: 1px solid black;
}

#table-search {
  border: 1px solid black;
  margin-bottom:0 !important;
}

#table-search tbody td {
  border: 1px solid black;
  background: none !important;
}

#table-search tbody tr {
  background: none !important;
}

.pagination .current {
  background: white !important;
}

.pagination {
  margin-bottom:.5em !important;
  margin-top:.5em;
}
.bloc-pagination {
  background: $secondary-color !important;
  margin-bottom:1em;
  margin-top:.1em;
}

@include breakpoint(small down){
  #table-search tbody tr td:nth-child(1) {
    background: $secondary-color !important;
  }
}

.ui-menu-divider {
  display: none;
}